body{
    background-color: #F5F2EE;
}

/* ---- nav ---- */
.minha-cor{
    /* ---- fixar ---- */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* ---- fim fixar ---- */
    background-color: rgb(18, 18, 19);
    height: 140px;
    font-size: 400;
}

.meu-texto{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
}

.cor-nav{
    color: rgb(255, 255, 255);
    font-size: 25px;
    /* ---- transição ---- */
    transition: border-top-color 0.4s ease, color 0.4s ease;
    /* ---- fim transição ---- */
}

.cor-nav:hover{
    border-top: 4px solid rgb(179, 96, 22);
    color: rgb(179, 96, 22);
}

@media (max-width: 992px) {
    .cor-nav:hover {
        border-top: none;
    }
    .cor-nav{
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
          text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    }
}

/* ---- header  ---- */
.meu-header{
    background-color: rgb(53, 39, 29);
    margin-top: 140px;
}


/* ---- texto edu pani ---- */
.cor-texto-edu-pani{
    background-color: #EAE4DC;
}

/* ---- cor bloco espaços edu pani ---- */
.cor-bloco{
    background-color: #EAE4DC;
}

/* ---- cor footer ---- */
.cor-footer{
    background-color: rgb(18, 18, 19);
}



/* ---- aba encomendas ---- */

.encomendas-titulo{
    margin-top: 140px;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    transition: background-color 0.3s, transform 0.2s;
}

.carousel-btn:hover {
    background-color: rgba(0,0,0,0.8);
    transform: translateY(-50%) scale(1.1);
}

.carousel-btn.left { left: -25px; }
.carousel-btn.right { right: -25px; }


/* ---- cor fundo encomendas ---- */

.cor-fundo{
    background-color: rgb(53, 39, 29);
}

h1.titulo{
    color: #F5F2EE;
    font-weight: bold;
}

p.texto-p{
    color: #8a837a;
    font-size: 25px;
}

/* ---- cor card encomendas ---- */
.card.h-100.card-personalizado{
    background-color: rgb(214, 209, 201);
}

/* ---- page de espaços ---- */

.espacamento{
    margin-top: 140px;
}

.fundo-tela-espaco{
    background-color: rgb(53, 39, 29);
}

h2.titulo{
    color: #F5F2EE;
    font-weight: bold;
}

p.texto-p-espaco{
    color: #8a837a;
    font-size: 25px;
}

.cor-2{
    background-color: rgb(80, 60, 45)
}

.img-fluid {
    border: 8px solid #615e59; /* borda marrom escura */
    border-radius: 15px;       /* cantos arredondados */
}
